[alias]
  a = add
  aa = add .
  s = status -s
  ca = commit -a
  cm = !"f() { GIT_COMMITTER_DATE=\"$(date)\"; git commit --amend --no-edit --date \"$(date)\"; }; f"
  co = switch
  cos = "!git switch $(git branch | fzf)"
  rea = rebase --abort
  rec = rebase --continue
  #switch branches
  sw = "!git switch $(git recent-branches | fzf)"
  wip = "!git add --all :/ && git commit -m 'WIP'"
  ls = "!git log --oneline --decorate | fzf"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  delete-merged-branches = "!git co master && git branch --no-color --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  allbr = branch -a
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  undo-commit = reset --soft HEAD^
  # checkout a new branch
  nb = checkout -b
  # Push the current branch to the remote "origin", and set it to track
  # the upstream branch
  publish = "!git push -u origin $(git branch-name)"
  fpush = "!git push -f origin $(git branch-name)"
  addf = "!git add $(git ls-files -m --others --exclude-standard | fzf -m)"
  rmf = "!git rm --cached $(git diff --name-only --cached | fzf -m)"
  rh = reset --hard
  fa = fetch --all
  search = "!git show $(git log --pretty=oneline | fzf | cut -d=' ' -f1)"
  squash-branch= !HASH=`git log --pretty=oneline | head -n 100 | fzf` && git rebase -i `echo ${HASH} | awk '{ print $1 }'`^

  #intermediary aliases
  recent-branches = "!git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 100"
  branch-name = "!git rev-parse --abbrev-ref HEAD"

[core]
	editor = code --wait
  pager = delta
[delta]
  features = side-by-side unobtrusive-line-numbers
  syntax-theme = OneHalfDark
[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#848484"
    line-numbers-zero-style = "#848484"
    line-numbers-plus-style = "#848484"
    line-numbers-left-style = "#848484"
    line-numbers-right-style = "#848484"
[interactive]
  diffFilter = delta --color-only
[commit]
	template = ~/.gitmessage
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[user]
	email = 1435391+matdurand@users.noreply.github.com
	name = Mathieu Durand
[pull]
	rebase = false
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[init]
	defaultBranch = main
